@model rh.Models.Depense

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Depense</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DateDepense)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateDepense)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NomClient)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NomClient)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.VilleClient)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.VilleClient)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MotifDepense)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MotifDepense)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NombreKms)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NombreKms)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LocationVoiture)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LocationVoiture)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TaxiBus)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TaxiBus)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AvionTrain)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AvionTrain)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ParkingPeage)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ParkingPeage)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Restaurant)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Restaurant)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Hotel)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Hotel)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Divers)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Divers)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TauxDevise)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TauxDevise)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Commentaire)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Commentaire)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CommentaireRefus)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CommentaireRefus)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TypeDepense)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TypeDepense.ID)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
