@model IEnumerable<rh.Models.Depense>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.DateDepense)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NomClient)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.VilleClient)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MotifDepense)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NombreKms)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LocationVoiture)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TaxiBus)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AvionTrain)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ParkingPeage)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Restaurant)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Hotel)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Divers)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TauxDevise)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Commentaire)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CommentaireRefus)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.TypeDepense)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DateDepense)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NomClient)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VilleClient)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MotifDepense)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombreKms)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LocationVoiture)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TaxiBus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AvionTrain)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ParkingPeage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Restaurant)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hotel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Divers)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TauxDevise)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Commentaire)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CommentaireRefus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TypeDepense.ID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
