@model IEnumerable<rh.Models.Conge>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.DateDebut)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DateFin)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PeriodeDebut)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PeriodeFin)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Commentaire)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DateDemande)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NomResponsable)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PrenomResponsable)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Decision)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.Collaborateur)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TypeConge)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DateDebut)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateFin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PeriodeDebut)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PeriodeFin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Commentaire)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateDemande)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NomResponsable)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrenomResponsable)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Decision)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Collaborateur.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TypeConge.ID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
